# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
data = pd.read_csv('..\\archive.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
data.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        24775
Annual Salary         7883
Hourly Rate          24775
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
data['Salary or Hourly'].value_counts()

Salary    24775
Hourly     7883
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
data.pivot_table(index = ['Department'], values = ['Name'], aggfunc = {'count'}).reset_index()

               Department   Name
                           count
0            ADMIN HEARNG     38
1           ANIMAL CONTRL     73
2                AVIATION   1612
3       BOARD OF ELECTION    112
4         BOARD OF ETHICS      8
5           BUDGET & MGMT     44
6               BUILDINGS    266
7        BUSINESS AFFAIRS    168
8              CITY CLERK     85
9            CITY COUNCIL    400
10  COMMUNITY DEVELOPMENT    214
11                   COPA     17
12       CULTURAL AFFAIRS     76
13           DISABILITIES     29
14                   DoIT    101
15       FAMILY & SUPPORT    621
16                FINANCE    575
17                   FIRE   4800
18       GENERAL SERVICES    972
19                 HEALTH    516
20        HUMAN RELATIONS     17
21        HUMAN RESOURCES     68
22          INSPECTOR GEN     63
23                   IPRA     56
24                    LAW    405
25      LICENSE APPL COMM      1
26         MAYOR'S OFFICE     85
27                   OEMC   2044
28                 POLICE  12973
29           POLICE BOARD      2
30            PROCUREMENT     86
31         PUBLIC LIBRARY    932
32          STREETS & SAN   2194
33             TRANSPORTN   1103
34              TREASURER     24
35            WATER MGMNT   1878

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
data['Hourly Rate'].value_counts(dropna = False)

NaN       24775
$35.60     1404
$40.20      764
$36.21      659
$19.66      370
          ...
$28.00        1
$41.70        1
$49.95        1
$26.33        1
$35.43        1
Name: Hourly Rate, Length: 168, dtype: int64

In [8]:
data['Hourly Rate'] = data['Hourly Rate'].str.replace('$', '', regex = True).astype('float64')

In [9]:
hour_rate = data['Hourly Rate'].dropna()

`H0`: The hourly wage for all workers (mean) = 30. <p>
`H1`: The hourly wage for all workers (mean) != 30.

In [10]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hour_rate, 30)

In [11]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   21.003532193332216
pvalue for the two-tailed test is  2.4048011351057683e-95

In [12]:
hour_rate.mean()

32.86819231257292

In [13]:
scipy.stats.sem(hour_rate)*stat

2.868192312571359

Since the p-value for the two-tailed test is way smaller than 0.05, we must reject the `H0` hypothesis and therefore say that we have evidence to assume `H1` is correct.

**We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.**

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [14]:
salaries_police_df = data[data['Department'] == 'POLICE'].copy()
salaries_police_df['Annual Salary']  = salaries_police_df['Annual Salary'].str.replace('$', '', regex = True).astype('float64')
salaries_police =  salaries_police_df['Annual Salary'].dropna()

`H0`: mean police anual salary > 86000 <p>
`H1`: mean police anual salary <= 86000

In [15]:
stat, pval = ttest_1samp(salaries_police, 86000)

In [16]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)
print('pvalue for the one-tailed test is ', pval/2)

stat is   12.573116980151957
pvalue for the two-tailed test is  4.8201971480060955e-36
pvalue for the one-tailed test is  2.4100985740030478e-36

In [17]:
scipy.stats.sem(salaries_police)*stat

1836.0253488911112

In [18]:
salaries_police.mean()

87836.02534889111

Again, since the p-value for the one-tailed test is way smaller than 0.05, we should reject the `H0` hypothesis. Still, the stat value is positive so the real value must be above 86000. Therefore we can say that we have evidence to assume `H0` is correct.

Using the `crosstab` function, find the department that has the most hourly workers.

In [19]:
data_crosstab = pd.crosstab(data['Department'], data['Salary or Hourly'], margins = False).reset_index()
data_crosstab.sort_values(by = 'Hourly', ascending = False)

Salary or Hourly             Department  Hourly  Salary
32                        STREETS & SAN    1873     321
35                          WATER MGMNT    1512     366
27                                 OEMC    1212     832
2                              AVIATION    1056     556
18                     GENERAL SERVICES     767     205
33                           TRANSPORTN     707     396
15                     FAMILY & SUPPORT     300     321
31                       PUBLIC LIBRARY     224     708
9                          CITY COUNCIL      52     348
24                                  LAW      44     361
16                              FINANCE      43     532
28                               POLICE      32   12941
1                         ANIMAL CONTRL      16      57
12                     CULTURAL AFFAIRS      10      66
7                      BUSINESS AFFAIRS       8     160
26                       MAYOR'S OFFICE       7      78
19                               HEALTH       4     512
30                          PROCUREMENT       4      82
10                COMMUNITY DEVELOPMENT       4     210
8                            CITY CLERK       3      82
17                                 FIRE       2    4798
34                            TREASURER       1      23
21                      HUMAN RESOURCES       1      67
5                         BUDGET & MGMT       1      43
4                       BOARD OF ETHICS       0       8
3                     BOARD OF ELECTION       0     112
29                         POLICE BOARD       0       2
20                      HUMAN RELATIONS       0      17
25                    LICENSE APPL COMM       0       1
23                                 IPRA       0      56
22                        INSPECTOR GEN       0      63
6                             BUILDINGS       0     266
14                                 DoIT       0     101
13                         DISABILITIES       0      29
11                                 COPA       0      17
0                          ADMIN HEARNG       0      38

The department with most Hourly workers is `STREETS & SAN`.

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

`H0`: mean hourly wage < 35 <p>
`H1`: mean hourly wage  => 35

In [20]:
salaries_sns_df = data[data['Department'] == 'STREETS & SAN'].copy()
salaries_sns_df['Hourly Rate']  = salaries_sns_df['Hourly Rate'].replace('$', '', regex = True).astype('float64')
salaries_sns =  salaries_sns_df['Hourly Rate'].dropna()

In [21]:
stat, pval = ttest_1samp(salaries_sns, 35)

In [22]:
print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   -7.172610090911691
pvalue for the one-tailed test is  5.276243152130208e-13

Since the p-value for the one-tailed test is way smaller than 0.05, we should reject the `H0` hypothesis and therefore say that we have evidence to assume `H1` is correct. Although, the stat value is negative so the real value must be below 35. Therefore, we can say that we have evidence to assume `H0` is correct.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [28]:
hourly_wage = data['Hourly Rate'].replace('$', '', regex = True).astype('float64').dropna()

In [37]:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(hourly_wage) - 1  
sample_mean = np.mean(hourly_wage)
sample_standard_error = scipy.stats.sem(hourly_wage) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'The confidence interval is: ', confidence_interval)

The confidence interval is:  (32.60050319432687, 33.135881430818976)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [43]:
confidence_level = 0.95
degrees_freedom = len(salaries_police) - 1  
sample_mean = np.mean(salaries_police)
sample_standard_error = scipy.stats.sem(salaries_police) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'The confidence interval is: ', confidence_interval)

The confidence interval is:  (87549.78923170577, 88122.26146607645)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [47]:
data['Salary or Hourly'].value_counts()

Salary    24775
Hourly     7883
Name: Salary or Hourly, dtype: int64

In [49]:
len(data['Salary or Hourly'])

32658

`H0`: % of hourly workers = 25% <p>
`H1`: % of hourly workers != 25%

In [54]:
from statsmodels.stats.proportion import proportions_ztest
significance = 0.05
sample_success = 7883
sample_size = 32658
null_hypothesis = 0.25
stat, p_value = proportions_ztest(count=sample_success, nobs=sample_size, value=null_hypothesis, alternative='larger')

print(stat)
print(p_value)

-3.6401610358268113
0.9998637662093031

As we can see in the code above, the p-value is almost 1, so we have to assume that `H0` is correct in virtually every case and the percentage of hourly workers is not 25%. The minus sign in the stat also tells us that the real percentage is lower than 25%. We can check that manually:

In [53]:
print('The actual percentage of hourly workers is', round(7883/32658*100, 2), '%')

The actual percentage of hourly workers is 24.14 %